/* ====== Design Palette ====== */
:root {
  --paper: oklch(97% 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}

/* ====== Base Elements ====== */
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
  padding-bottom: 60px;
  margin: 0;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  margin-top: var(--space);
}

a:hover {
  background: #555;
}

img,
svg {
  width: 100%;
  height: 250px; /* Fixed height for all images */
  object-fit: cover;
  display: block;
}

/* ====== Header ====== */
.header {
  text-align: center;
  padding: calc(var(--space) * 2);
  background-color: #f6f4f4;
  margin-bottom: calc(var(--space) * 2);
}

.header h1 {
  margin: 0 0 var(--space) 0;
}

/* ====== Site Layout ====== */
main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  padding: 0 var(--space);
}

main > *:first-child {
  grid-column: span 2;
}

/* ====== Article Layout ====== */
article {
  border: var(--line);
  padding-bottom: var(--space);
  text-align: left;
  display: grid;
  grid-template-columns: var(--space) 1fr var(--space);
}

article > * {
  grid-column: 2/3;
}

article > img {
  grid-column: span 3;
  margin-bottom: var(--space);
}

article h2 {
  margin-top: var(--space);
}

/* ====== Footer ====== */
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 60px;
  background-color: #f6f4f4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--line);
}

.footer p {
  margin: 0;
}